body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #9db9ff;
    margin: 0;
    padding: 0;
}

.cards {
    height: 70vh;
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card {
    position: absolute;
    width: 60%;
    height: 70vh;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    margin-bottom: 50px;
    padding: 40px;
}

.card-1 {
    left: 0;
    top: 0;
    color: #3e65ff;
    text-align: center;
}

.card-2 {
    left: 35px;
    top: 0;
    color: #ffa041;
}

.card-3 {
    left: 70px;
    top: 0;
    color: #358a30;
}

.card-4 {
    left: 105px;
    top: 0;
    color: #ff5f5f;
}

.card h2{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.card h3{
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

li {
    margin-bottom: 15px;
}

